.task-card {
  transition: all 0.3s ease;
}


.task-card.completed {
  background-color: #f1fdf4;
  border-left: 6px solid #28a745;
  opacity: 0.85;
}


.task-card.completed h5 {
  text-decoration: line-through;
  color: #6c757d;
}


.task-card.completed p {
  color: #868e96;
}


.task-card.completed svg {
  color: #28a745;
}





.card-title {
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.card-text {
  font-size: 0.95rem;
  color: #555;
}

.btn {
  border-radius: 8px;
  padding: 0.4rem 0.7rem;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
  transform: translateY(-2px);
}
.task-card:not(.completed) {
  background-color: #ffffff;
}
